<div id="admin-toolbar">
    <div class="admin-toolbar-item" id="admin-new-blogpost"
       title="New Blog Post">
        <span class="glyphicon glyphicon-pencil" id="blog-new"></span>
        <div id="post-new-wrapper"></div>
    </div>
    <div class="admin-toolbar-item" title="Upload Photos" id="admin-new-image">
        <span class="glyphicon glyphicon-cloud-upload" id="image-new"></span>
        <div id="image-new-wrapper" class="edit-popup"></div>
    </div>
    <div onclick="location.href = '{{ path('logout') }}'"
       class="admin-toolbar-item" title="Get out of here">
        <span class="glyphicon glyphicon-log-out" id="image-new"></span>
    </div>
</div>
<div style="clear: both"></div>