<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset=utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block stylesheets %}{% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div class="container">
    <div class="header">
        <div class="admin-toolbar">{% block admin_toolbar %} {% endblock %}</div>
        <div class="head-titles pull-left">
            <h1 class="site-title">Hello World /</h1>
            <h4 class="site-subtitle">everyone</h4>
        </div>

        {% block navigation %} {% endblock %}
    </div>

    {% block body %}{% endblock %}
    <div id="footer">
        {% block footer %}{% endblock %}
    </div>
</div>
{% block javascripts %}{% endblock %}
</body>
</html>