/* Global styles */
/* line 3, ../scss/screen.scss */
body {
  background-color: #000;
  color: #FFF;
}

/* line 8, ../scss/screen.scss */
.button-action {
  cursor: pointer;
  text-align: right;
}

/* line 13, ../scss/screen.scss */
.content-wrapper {
  margin-top: 30px;
}

/* line 17, ../scss/screen.scss */
.foot-copyright {
  font-size: 11px;
  margin-bottom: 10px;
}

/* line 22, ../scss/screen.scss */
.container {
  min-width: 970px;
  width: 970px !important;
}

/* line 27, ../scss/screen.scss */
.actionlink {
  color: #FFF;
}

/* Header */
/* line 33, ../scss/screen.scss */
.header {
  height: 190px;
}
/* line 36, ../scss/screen.scss */
.header .head-titles {
  width: 240px;
}
/* line 40, ../scss/screen.scss */
.header .head-navigation {
  width: auto;
  margin-top: 80px;
}
/* line 44, ../scss/screen.scss */
.header .head-navigation li {
  height: 26px;
  width: 130px;
  margin: 2px 10px 0 0;
  text-align: center;
  border-top: 1px solid #999;
}
/* line 51, ../scss/screen.scss */
.header .head-navigation li a {
  color: #FFF;
}
/* line 54, ../scss/screen.scss */
.header .head-navigation li a:hover {
  background-color: transparent;
  color: #999;
}
/* line 60, ../scss/screen.scss */
.header .head-navigation li:hover {
  border-top-width: 3px;
  margin-top: 0;
}
/* line 65, ../scss/screen.scss */
.header .head-navigation li.active {
  height: 26px;
  margin-top: 0;
  border-top: 3px solid #FFD323;
}
/* line 70, ../scss/screen.scss */
.header .head-navigation li.active a {
  background-color: transparent;
  color: #FFD323;
}

/* Gallery */
/* line 81, ../scss/screen.scss */
.gallery-wrapper {
  min-width: 810px;
  width: 810px;
  margin-left: 40px;
}

/* line 89, ../scss/screen.scss */
.gallery-image,
.gallery-image img {
  position: relative;
  width: 400px;
  margin-left: 5px;
  margin-bottom: 5px;
}
/* line 96, ../scss/screen.scss */
.gallery-image .image-edit-wrapper {
  position: absolute;
  right: 10px;
  top: 10px;
}

/* line 103, ../scss/screen.scss */
.image-edit-container {
  width: 350px;
}

/* line 108, ../scss/screen.scss */
.image-edit-type td {
  padding: 5px;
}
/* line 111, ../scss/screen.scss */
.image-edit-type .image-description-edit {
  width: 225px;
  height: 60px;
  border: 1px solid #CCC;
}
/* line 116, ../scss/screen.scss */
.image-edit-type .image-tags-edit {
  width: 225px;
  border: 1px solid #CCC;
}

/* Gallery: lightbox */
/* line 127, ../scss/screen.scss */
.mfp-with-zoom .mfp-container, .mfp-with-zoom.mfp-bg {
  opacity: 0.001;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 138, ../scss/screen.scss */
.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}
/* line 142, ../scss/screen.scss */
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}
/* line 149, ../scss/screen.scss */
.mfp-with-zoom.mfp-removing .mfp-container, .mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

/* line 156, ../scss/screen.scss */
.mfp-bottom-bar .tags {
  font-size: 12px;
}
/* line 159, ../scss/screen.scss */
.mfp-bottom-bar .tags span {
  cursor: pointer;
  font-style: italic;
}

/* Admin */
/* line 168, ../scss/screen.scss */
.adminlogin-wrapper {
  width: 235px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  padding: 20px 40px;
}

/* line 179, ../scss/screen.scss */
#admin-toolbar {
  height: 30px;
  padding: 5px 0;
  float: right;
}
/* line 184, ../scss/screen.scss */
#admin-toolbar .admin-toolbar-item {
  display: block;
  float: left;
  padding: 0 10px;
}

/* Home page */
/* line 194, ../scss/screen.scss */
.home-banner-wrapper {
  position: relative;
}
/* line 197, ../scss/screen.scss */
.home-banner-wrapper .hb-image-excerpt {
  position: absolute;
  z-index: 30;
  top: 30px;
  left: 30px;
  font-size: 32px;
  font-weight: bold;
  color: #222222;
}
