<div class="home-banner-wrapper">
    {% if is_granted('ROLE_ADMIN') %}
        {# TODO: make as one cycle #}
        {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message notice">
            {{ flashMessage }}
        </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="flash-message error">
            {{ flashMessage }}
        </div>
        {% endfor %}

        <div id="hb-form-container">
            <a href="#" id="hb-change-button">Change</a>
        </div>

    {% endif %}
    The slider goes here
    <div class="banner-quote">{{ banner.getContent() }}</div>
</div>
