<div class="home-banner-wrapper">
    {% if is_granted('ROLE_ADMIN') %}
        {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message notice">
            {{ flashMessage }}
        </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="flash-message error">
            {{ flashMessage }}
        </div>
        {% endfor %}

        <div id="hb-form-container">
            <a href="#" id="hb-change-button">Change</a>
        </div>

    {% endif %}

    {% if images|length > 0 %}
        <div id="hb-slider">
            <ul class="hb-slides">
                {% for image in images %}
                    <li class="hb-slider-image">
                        <img src="{{ image.getWebPath() }}" alt="" />
                    </li>
                {% endfor %}
            </ul>
            <div class="hb-image-excerpt">{{ banner.getContent() }}</div>
        </div>
    {% endif %}
</div>