<form class="uploaded-image-row" action="" method="post" {{ form_enctype(form) }}>
    <div class="img-preview">
        <img src="{{ image.getWebPath() }}" alt="" width="150">
    </div>
    <div class="image-data">
        <div><textarea name="content" placeholder="Description"></textarea></div>
        <div><input type="text" name="tagsfield"placeholder="Tags"></div>
        <div>{{ form_widget(form.categories, { 'attr': { 'class': 'image-categories-edit' }, 'id': '' } ) }}</div>
        <span class="gallery-action uploaded-image-remove">x Remove</span>
        <input type="hidden" name="image_id" value="{{ image.getId() }}">
        <input type="hidden" name="is_removed" value="">
    </div>
    <div style="clear: both"></div>
</form>