{% extends 'CmsXutBundle::layout.html.twig' %}
{% block body %}
    {# Insert Home Banner #}
    {{ render(controller("CmsHomeBannerBundle:Default:getImage")) }}
    <a href="{{ path('post_list') }}" title="Blog">Blog</a>
    <a href="{{ path('gallery_index') }}" title="Blog">Gallery</a>
{% endblock %}