<form class="uploaded-image-row" action="" method="post" {{ form_enctype(form) }}>
    <div class="img-preview">
        <img src="{{ image.getWebPath() }}" alt="" width="300">
    </div>
    <div class="image-data">
        <div>Description: <textarea name="content"></textarea></div>
        <div>Tags: <input type="text" name="tagsfield"></div>
        <input type="hidden" name="image_id" value="{{ image.getId() }}">
        <input type="hidden" name="is_removed" value="">
    </div>
</form>